body{
  margin: 0;
}
#container{
  width: 100%;
  height: 600px;
  position: relative;
  overflow: hidden;
}
#kitty1{
  background-image: url("kit1.jpg");
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  position: absolute;

}
#kitty2{
  background-image: url("kit2.jpg");
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  position: absolute;
}
#kitty3{
  background-image: url("kit3.jpg");
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  position: absolute;
}

.kitty{
  transform: translateX(0);
  transition-duration: 1s;
  transition-property: transform;
  background-color: white;
}

.out{
  transform: translateX(-100%);
  transition-duration: 1s;
  transition-property: transform;
}

.standby{
  transform: translateX(100%);
  transition-duration: 0s;
  transition-property: transform;
}


.dots{
  width: 200px;
  height: 70px;

}
#dot1{
  height: 50px;
  width: 50px;
  border-radius: 50%;
  border-color: white;
  border-style: solid;
  border-width: thick;
  display: inline-block;
  z-index: 10;
  position: absolute;
  bottom: 5px;
}
#dot2{
  height: 50px;
  width: 50px;
  border-radius: 50%;
  border-color: white;
  border-style: solid;
  border-width: thick;
  display: inline-block;
  z-index: 10;
  position: absolute;
  bottom: 5px;
  left: 70px;
}
#dot3{
  height: 50px;
  width: 50px;
  border-radius: 50%;
  border-color: white;
  border-style: solid;
  border-width: thick;
  display: inline-block;
  z-index: 10;
  position: absolute;
  bottom: 5px;
  left: 140px;
}
